extends ./layouts/main-layout 
block content 
  .profile__header-container
    .cover-photo__section
      .cover-photo__container
        if profileUser.coverPhoto
          img(src=`${profileUser.coverPhoto}`, alt="")
        if userLoggedIn.id === profileUser.id 
          button.cover-photo__button(data-bs-toggle="modal", data-bs-target="#coverPhotoUploadModal")
            i.fas.fa-camera

      .user__image-container
        img(src=`${profileUser.profilePic}`, alt="User profile image")
        if userLoggedIn.id === profileUser.id 
          button.profile__picture-button
            i.fas.fa-camera

    .profile__buttons-container 
      a.profile__button(href=`/messages/${profileUser._id}`) 
        i.fas.fa-envelope
      
      //- button(class="follow-button following") Following 
      button(class="follow-button") Folllow 

    .user__details-container 
      span.displayName Chìu Cắm Minh
      span.username @minhchiu
      span.description Lorem ipsum dolor sit.

      .followers-container 
        a(href=`/profile/username/following`) 
          span#followingValue.value 10
          span Following
        a(href=`/profile/username/followers`) 
          span#followersValue.value 10
          span Followers
  
  .tabs-container 
    a(href="/profile/${profileUser.username}", class="tab active") 
      span Posts
    a(href="/profile/${profileUser.username}", class="tab") 
      span Replies

  .post-pinned__container
    .post
      .post_action-container
      .post_main-content-container
        .user_image-container
          img(src="/assets/images/avatar-default.png", alt="User's profile picture")
        .post_content-container
          .post_header
            a.displayName(href='/profile/') minh chìu
            span.username @minhchiu
            span.date 12 giờ trước
          .post_body
            span Xin chào các bạn
          .post_footer
            .post_button-container
              .post_button-container_content
                button(type='button', data-bs-toggle='modal', data-bs-target='#replyModal')
                  i.far.fa-comment
            .post_button-container.green
              .post_button-container_content
                button.retweet-button
                  i.fas.fa-retweet
                span.number-retweets 12
            .post_button-container.pink
              .post_button-container_content(class="activate")
                button.like-button
                  i.far.fa-heart
                span.number-likes 12
  .post__container 

  +createCoverPhotoUploadModal()
block scripts
  script(src="/js/common.js") 
  script(src="/js/profile/profile.js") 