extends ../layouts/main-layout 

block content
  if errors.length > 0
    each error in errors
      span.errorMessage= error
  else 
    script.
      var chatId = '!{chat._id}'

    .chat__container  
      .chat-header 
        .chat-info  
          +createChatImage(chat, userLoggedIn)
          span#chatName(data-bs-toggle="modal", data-bs-target="#createChatNameModal", data-id=chat.id)=chat.chatName
        .chat-icon__container          
          a(href='')
            i.fas.fa-phone-alt
          a(href='')
            i.fas.fa-video
          a(href='')
            i.fas.fa-info-circle

      .main-content__container 
        .message__container 
            .messages
              

              .d-none
                //- User other
                .message_received
                  .message_received_img
                    img(src='/assets/images/avatar-default.png', alt='avatar')
                  //- Texting
                  .message_received_msg
                    .message_received_text
                      p Hello! Long time no see.
                      span.message_received_time 11:02 P.M
                    //-
                      <div class="message_received_text">
                      <p>Hello! Long time no see. </p>
                      <span class="message_received_time">11:02 P.M</span>
                      </div>
                //- User owner account
                .message_received.message_owner
                  .message_received_img.message_owner_img
                    img(src='/assets/images/avatar-default.png', alt='avatar')
                  //- Texting
                  .message_received_msg.message_owner_msg
                    .message_received_text.message_owner_text
                      p Hello! Long time no see.
                      span.message_received_time.message_owner_time 11:02 P.M
                    .message_received_text.message_owner_text
                      p Hello! Long time no see.
                      span.message_received_time.message_owner_time 11:02 P.M
                //- User other
                .message_received
                  .message_received_img
                    img(src='/assets/images/avatar-default.png', alt='avatar')
                  //- Texting
                  .message_received_msg
                    .message_received_text
                      p Hello! Long time no see.
                      span.message_received_time 11:02 P.M
                //- User other
                .message_received
                  .message_received_img
                    img(src='/assets/images/avatar-default.png', alt='avatar')
                  //- Texting
                  .message_received_msg
                    .message_received_text
                      p Hello! Long time no see.
                      span.message_received_time 11:02 P.M
                //- User owner account
                .message_received.message_owner
                  .message_received_img.message_owner_img
                    img(src='/assets/images/avatar-default.png', alt='avatar')
                  //- Texting
                  .message_received_msg.message_owner_msg
                    .message_received_text.message_owner_text
                      p Hello! Long time no see.
                      span.message_received_time.message_owner_time 11:02 P.M
                    .message_received_text.message_owner_text
                      p Hello! Long time no see.
                      span.message_received_time.message_owner_time 11:02 P.M
                //- User other
                .message_received
            .footer 
              textarea(name="messageInput", placeholder="Type a message...")
              button.send-message__button
                i.fas.fa-paper-plane

      +createChatNameModal(chat)
    .container.message_content.d-none
      //- Name of user
      .row.message_chat_name
        .col-lg-9
          h3.chatName= userChat && userChat.fullName || userLoggedIn.fullName
        .col-lg-3.message_chat_icon
          a(href='')
            i.fas.fa-phone-alt
          a(href='')
            i.fas.fa-video
          a(href='')
            i.fas.fa-info-circle
      //- Content of chats
      .message_chat_page.scroll
        .message_time_chat
          //- Render time when start texting!
          p Friday, November 19th at 15:41 P.M
        .message_chat_box
          if message
            //- User other
            .message_received
              .message_received_img
                img(src='/assets/images/avatar-default.png', alt='avatar')
              //- Texting
              .message_received_msg
                .message_received_text
                  p Hello! Long time no see.
                  span.message_received_time 11:02 P.M
                //-
                  <div class="message_received_text">
                  <p>Hello! Long time no see. </p>
                  <span class="message_received_time">11:02 P.M</span>
                  </div>
            //- User owner account
            .message_received.message_owner
              .message_received_img.message_owner_img
                img(src='/assets/images/avatar-default.png', alt='avatar')
              //- Texting
              .message_received_msg.message_owner_msg
                .message_received_text.message_owner_text
                  p Hello! Long time no see.
                  span.message_received_time.message_owner_time 11:02 P.M
                .message_received_text.message_owner_text
                  p Hello! Long time no see.
                  span.message_received_time.message_owner_time 11:02 P.M
            //- User other
            .message_received
              .message_received_img
                img(src='/assets/images/avatar-default.png', alt='avatar')
              //- Texting
              .message_received_msg
                .message_received_text
                  p Hello! Long time no see.
                  span.message_received_time 11:02 P.M
            //- User other
            .message_received
              .message_received_img
                img(src='/assets/images/avatar-default.png', alt='avatar')
              //- Texting
              .message_received_msg
                .message_received_text
                  p Hello! Long time no see.
                  span.message_received_time 11:02 P.M
            //- User owner account
            .message_received.message_owner
              .message_received_img.message_owner_img
                img(src='/assets/images/avatar-default.png', alt='avatar')
              //- Texting
              .message_received_msg.message_owner_msg
                .message_received_text.message_owner_text
                  p Hello! Long time no see.
                  span.message_received_time.message_owner_time 11:02 P.M
                .message_received_text.message_owner_text
                  p Hello! Long time no see.
                  span.message_received_time.message_owner_time 11:02 P.M
            //- User other
            .message_received
              .message_received_img
                img(src='/assets/images/avatar-default.png', alt='avatar')
              //- Texting
              .message_received_msg
                .message_received_text
                  p Hello! Long time no see.
                  span.message_received_time 11:02 P.M
         
          else 
            p Gửi lời chào tới
              b= userChat && userChat.fullName || userLoggedIn.fullName
      //- Write, send content
      .container.row.message_chat_send
        .col-lg-1.message_send_file
          a(href='')
            i.fas.fa-plus
        .col-lg-10.message_send_inp
          input(type='text', placeholder='Write message...')
        .col-lg-1.message_send_icon
          a(href='')
            i.fas.fa-paper-plane

block sidebarChat 
  include ./sidebar-chat

block scripts
  script(src="/js/common.js") 
  script(src="/js/message.js") 
